<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.editornotarapida"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="editornotarapida"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Actividad de arranque: tiene intent-filter, por eso exported="true" -->
        <activity
            android:name=".EditorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Segunda actividad: sin intent-filter, puede ir con exported="false" -->
        <activity
            android:name=".OpcionesActivity"
            android:exported="false" />
    </application>
</manifest>
